.big-button{
  background: $purple;
  border: none;
  border-bottom: .6rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: $large-size;
  width: 100%;
  margin-bottom: $xlarge-size;
  padding: 2.4rem;
}


.button {
  background: $purple;
  border: none;
  border-bottom: .3rem solid darken($purple, 10%);
  color: white;
  font-weight: 500;
  padding: $small-size;
}

.button--link{
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}
