//widget
.widget{
  background: $light-blue;
}

//widget header
.widget-header{
  background: $blue;
  color: $off-white;
  padding: $medium-size;
  display: flex;
  justify-content: space-between;
}

.widget-header h3{
  margin: 0;
}

.widget-option{
  color: white;
  border-bottom: .3rem solid lighten($light-blue, 10%);
  padding: $medium-size;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  word-break: break-all;
}

.widget-error-message{
  padding: 0 $small-size;
  margin: $small-size 0 0 0;
  color: $off-white;
  font-style: italic;
}

.widget-form{
  position: static;
  background: $light-blue;
  padding: $small-size;
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 10% 0;
}

.widget-input{
  background-color: $dark-blue;
  border: none;
  border-bottom: .3rem solid darken($dark-blue, 10%);
  margin-right: 100px;
  color: white;
  padding: $small-size;
}

@media (max-width: $desktop-breakpoint){
  .widget-option{
    font-size: 15px;
  }
  .widget-form{
    flex-direction: row;
    margin-right: auto;
  }
  .widget-input{
    max-width: 200px;
    margin: 0 auto;
    flex-shrink: 1;
    margin-bottom: 5px;
  }

}
